@import url('https://fonts.googleapis.com/css2?family=Belanosima&display=swap');

canvas{
  position: fixed;
  top: 0;
  left: 0;
  
}

.header{
  align-items: center;
  justify-content: center !important;

  color: aquamarine;
}

main{
  display:block;
  position:absolute;
  width: 25%;
  background: #030303a9;
  padding: 2.25rem;
  border-radius: 18px;
  color: aliceblue;
  font-family: 'Belanosima', sans-serif;
  line-height: 1.75;
  font-size: 1.2rem;
  justify-content: center;
}